@model EntiLayer.Concrete.Customer
@{
    ViewData["Title"] = "UpdateCustomer";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<h1>Müşteri Güncelle</h1>
<form method="post">
    @Html.Label("Müşteri Adı")
    @Html.TextBoxFor(x=>x.CustomerFirstName, new{@class="form-control"})
    <br />
    @Html.Label("Müşteri Soyadı")
    @Html.TextBoxFor(x=>x.CustomerLastName, new{@class="form-control"})
    <br />
    @Html.Label("Müşteri Şehri")
    @Html.TextBoxFor(x=>x.CustomerCity, new{@class="form-control"})
    <br />
    <button class="btn btn-primary">Müşteri GÜNCELLE</button>
</form>

